<h2>Sign up</h2>

<%= form_for(@user, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email:", autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password:", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password:", autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.text_field :first_name, placeholder: "First Name:" %>
  </div>

  <div class="field">
    <%= f.text_field :last_name, placeholder: "Last Name:" %>
  </div>

  <div class="field">
    <%= f.text_field :county, placeholder: "County:" %>
  </div>

  <div class="field">
    <%= f.text_field :zip_code, placeholder: "Zip Code XXXXX:" %>
  </div>  

  <div class="field">
    <%= f.text_field :location, placeholder: "Suburb/Town/Neighborhood:" %>
  </div>

  <div class="field">
    <%= f.telephone_field :cell_number, placeholder: "Cell Number XXX-XXX-XXXX:" %>
  </div>

  <br>

  <div class="field">
    <%= f.label :county%><br>
    <%= f.select :county, ["Cook", "Lake", "Will", "DuPage", "Kane", "McHenry"] %>
  </div>

  <h6>Babysitting</h6><input type="checkbox" name="services_needed_or_provided" value="1" /><br>
  <h6>Grocery Shopping</h6><input type="checkbox" name="services_needed_or_provided" value="2" /><br>
  <h6>E-Learning Assistance</h6><input type="checkbox" name="services_needed_or_provided" value="3" /><br>

  <h2>For Volunteers Only</h2>

  <h3>Availability</h3>

  Sunday<input type="checkbox" name="availability" value="1" />
  Monday<input type="checkbox" name="availability" value="1" />
  Tuesday<input type="checkbox" name="availability" value="1" />
  Wednesday<input type="checkbox" name="availability" value="1" />
  Thursday<input type="checkbox" name="availability" value="1" />
  Friday<input type="checkbox" name="availability" value="1" />
  Saturday<input type="checkbox" name="availability" value="1" /><br><br>
  Morning<input type="checkbox" name="availability" value="1" />
  Afternoon<input type="checkbox" name="availability" value="1" />
  Evening<input type="checkbox" name="availability" value="1" />
  Night<input type="checkbox" name="availability" value="1" />
  Other<input type="checkbox" name="availability" value="1" /><br><br><br>

  <div class="field">
    <%= f.label :age%><br>
    <%= f.select :age, [16, 17, "18+"] %>
  </div>

  <br>
   
  <div class="field">
    <%= f.label :transportation %><br>
    <%= f.select :transportation, ["Yes", "No"] %>
  </div>

  <br>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
